*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box{
    width: 400px;
    border: 2px solid black;
}

.box img{
    width: 100%;
}